[2015-03-16 13:10] caskolkm opened #1 "Different versions"
Dear MessageBird,

The docu says:

<dependency>
    <groupId>com.messagebird</groupId>
    <artifactId>messagebird-api</artifactId>
    <version>1.1.4</version>
</dependency>

when i do a mvn install, a jar with version 1.0 will be created.

Can you push this API to the public maven repository?

[2015-05-13 09:26] samwierema commented on #1
Hi @caskolkm,

Thanks for reporting this issue.

We've updated the repository to streamline the versionining. The version is now set to 1.0.0. The API is now also available in Maven Central.

[2015-05-13 09:26] #1 closed

[2015-08-13 08:38] rfeiner opened #5 "Originator is (hard) limited to 11 characters"
At this moment the originator is limited to 11 characters. When the originator is longer it chops it to 11 chars. Need to be increased to 17 chars.

[2015-08-14 06:59] #5 closed

[2016-06-10 09:34] HaraldWalker opened #17 "serviceUrl defined in Constructor of MessageBirdService not being used"
Constructor of MessageBirdService allows to set the serviceUrl but the value is never being set and used. It will always use the hardcoded "https://rest.messagebird.com" as service url.

[code]

Not a big issue, although it allowed us to test the integration without actually using the MessageBird API.

[2016-06-21 06:14] Ruudieboy commented on #17
Would be great if this can be merged and release to maven. We need this functionality.

[2016-06-28 09:08] samwierema commented on #17
Merged and published as version 1.3.0 on Maven.

Thanks @HaraldWalker!

[2016-06-28 09:08] #17 closed

[2016-07-04 16:11] sdegroot opened #19 "Feature request: asynchronous api-client"
Dear messagebird,

It would be great if you could provide an asynchronous API client.
We will have a look ourselves but it seems the code would need a big refactoring or a completely separate client for this.

What do you think?

Sander

[2016-07-04 17:08] rvt commented on #19
Sander,

would it be possible for you to wrap it into a Future?

[2016-07-04 17:14] sdegroot commented on #19
Hi Rvt,

Sure I can. Though it would be nice if it would be supported from this client.
On the other hand, I understand it would be difficult to choose the 'right' future as there are so many available solutions.

[2017-02-24 13:34] madness-inc opened #20 "Delayed SMS with Message.setScheduledDatetime() does not work"
StackTrace:
`com.messagebird.exceptions.GeneralException: Failed to retrieve data from MessageBird service with response code 422
	at com.messagebird.MessageBirdServiceImpl.getJsonData(MessageBirdServiceImpl.java:140)
	at com.messagebird.MessageBirdServiceImpl.sendPayLoad(MessageBirdServiceImpl.java:107)
	at com.messagebird.MessageBirdClient.sendMessage(MessageBirdClient.java:110)`

`ErrorReport{c

[2017-03-06 14:28] samwierema commented on #20
Hi @madness-inc,

Thanks for opening an issue. Our team will review the issue and get back to you with a solution as soon as we can. In the meantime, for our reference, could you tell us what version of Java you're using?

[2017-03-06 16:11] madness-inc commented on #20
Hi Sam,
glad to hear from you!
I'm using Java 8, but his is not a Java issue. It's a Jackson Mapping issue.
As there is no standard way of mapping a `java.util.Date` into JSON format, we need to tell the Jackson Mapper how to do this. Both of my suggested solutions are suitable for that, although I personally would prefer the Jackson 2 solution.

Regards
Matthias

[2017-03-24 13:40] #20 closed

[2017-03-24 13:45] samwierema commented on #20
@madness-inc this has now been merged and will be released as version `1.3.1`. Thanks much for opening an issue!

[2017-08-25 13:17] madness-inc opened #22 "Use only one Version (2.x) of Jackson libraries"
Currently, a mix of Jackson 1 and Jackson 2 libraries is being used, resulting in 6 dependencies
`[INFO] +- com.fasterxml.jackson.dataformat:jackson-dataformat-csv:jar:2.1.1:compile`
`[INFO] |  +- com.fasterxml.jackson.core:jackson-core:jar:2.1.1:compile`
`[INFO] |  \- com.fasterxml.jackson.core:jackson-databind:jar:2.1.1:compile`
`[INFO] |     \- com.fasterxml.jackson.core:jackson-annotations:jar

[2017-08-25 14:45] cooldarkdryplace commented on #22
Hi @madness-inc.
Good point! Please feel free to submit a PR.

[2017-08-25 15:36] madness-inc commented on #22
Ok, PR submitted:
https://github.com/messagebird/java-rest-api/pull/23

[2017-09-01 14:21] cooldarkdryplace commented on #22
For now we are not ready to drop Java 6 support. The plan is to get statistics of Java versions used by our customers and then to make a decision.
We appreciate your help and time spent on this! This addressed will be addressed in future.

[2017-09-12 02:45] jvanderhoek commented on #22
The jackson 1.9.13 dependencies being dragged in are being flagged with the following OWASP warnings:
CVE-2016-3720
CVE-2016-7051

Can you upgrade your dependencies to jackson 2.9?  Java 6 is getting really old.

[2017-09-19 09:00] cooldarkdryplace commented on #22
@jvanderhoek Thank for pointing to vulnerabilities. Taking into account how severe they are we decided to drop Java 6 support and migrate to Jackson version 2.x.

[2017-11-30 15:23] martijnvanderwoud opened #26 "Text to speech (tts) not included in MsgType enum"
The `com.messagebird.objects.VerifyRequest` type has a `type` attribute, which must be of type `com.messagebird.objects.MsgType`. Although text to speech ("tts") is a valid option for verification requests, this type is not included in the `MsgType` enum.  I guess this value should be added to the `MsgType` enum. Correct?

[2017-11-30 20:25] samwierema commented on #26
@martijnvanderwoud thanks for opening an issue.

It seems like a bit of an oversight on our part. `MsgType` is not necessarily fully suited for this purpose as some options there can't be passed to Verify (e.g. `premium`). What we should ideally do is have a `VerifyMessageType` enum that list all the possible options and use that. However, that might be a breaking change. I'll discuss with my coll

[2017-12-01 07:16] martijnvanderwoud commented on #26
Hi Sam, thanks for the quick response. I think we should look for a solution that does not break backwards compatibility. How about adding `tts` to `MsgType`, and throwing a `RunTimeException` (something like `UnsupportedMessageTypeException`) when someone tries to set a `MsgType` that is not available? We could also add a `static boolean supports(MsgType messageType)` method to the `VerifyRequest

[2017-12-14 18:49] martijnvanderwoud commented on #26
Hi Sam, I was wondering if you already have decided how you want to approach this.

[2018-01-04 12:37] madness-inc commented on #22
Still waiting for the release that will fix this :-(

[2018-01-04 16:36] martijnvanderwoud commented on #26
Still curious how you want to solve this @samwierema :)

[2018-02-01 09:23] bmehner commented on #22
Same issue here. Additionally we found vulnerability https://nvd.nist.gov/vuln/detail/CVE-2017-17485.

No updates on this since September 2017?

One alternative to dropping Java6 support would be to provide a messagebird-api-java6 version of the library. Should be straight forward to produce this.

Please provide us with new information on your plans to resolve this.

[2018-03-26 10:51] dstotijn opened #27 "Message `scheduledDatetime` is formatted as ISO8601 instead of RFC3339"

[2018-03-30 13:05] #27 closed

[2018-07-13 08:37] epels opened #30 "getVersion() fails if java.version is not properly set"
Some runtimes, like Android, do not properly set the `java.version` system property. This causes [`getVersion`](https://github.com/messagebird/java-rest-api/blob/master/api/src/main/java/com/messagebird/MessageBirdServiceImpl.java#L226) to throw a `StringIndexOutOfBoundsException`:

[code]

Trace:
[code]

[2018-08-06 11:00] epels opened #35 "User agent does not contain Java version"
The user agent used when sending requests to the API does not contain the Java version:

It's useful to have this information when considering support for older versions etc. Will pick this up for v2.

[2018-08-14 14:42] siovene commented on #26
Hi, I am affected by this issue. Is there any possible workaround to get a TTS Verify using the Java API? Perhaps a way to do a raw request?

[2018-08-14 14:50] martijnvanderwoud commented on #26
@siovene we worked around the issue by creating our own payload class:
[code]

Then sending a verification request is a matter of
[code]

[2018-08-14 14:54] epels commented on #26
Thanks @martijnvanderwoud for sharing your solution - that does indeed same to be the best workaround for now.

I'm planning a new major release of this client that fixes this and other issues. As @samwierema mentioned, that will be a breaking change. When TTS verifications become available out-of-the-box, I will update this issue. Thanks!

CC @siovene

[2018-08-14 15:18] siovene commented on #26
Thanks @martijnvanderwoud, the workaround worked for me. Thanks @epels for the update.

[2018-09-28 17:47] klpx opened #45 "2.0.0 version is not published"
Hi!
Looks like version 2.0.0 mentioned in README isn't published (https://mvnrepository.com/artifact/com.messagebird/messagebird-api).

[2018-09-29 11:36] epels commented on #45
Hi @klpx, thanks for pointing that out! It's indeed correct v2 has not been pushed to Maven yet. We'd like to add a few more changes: I'm planning on tagging and publishing v2 next week.

[2018-10-02 08:29] epels commented on #26
@martijnvanderwoud @siovene Thanks for your patience - this feature is now available in [`v2.0.0`](https://mvnrepository.com/artifact/com.messagebird/messagebird-api/2.0.0).

[code]

In case you have any further questions, please feel free to re-open this issue or create a new one.

[2018-10-02 08:29] #26 closed

[2018-10-02 08:30] epels commented on #22
@madness-inc Sorry it took us a while to address this issue. It has been resolved as of [`v2.0.0`](https://mvnrepository.com/artifact/com.messagebird/messagebird-api/2.0.0), which uses `v2.9` of Jackson.

In case you have any further questions, please feel free to re-open this issue or create a new one.

CC @jvanderhoek @bmehner

[2018-10-02 08:30] #22 closed

[2018-10-02 08:31] epels commented on #30
Resolved in [`v2.0.0`](https://mvnrepository.com/artifact/com.messagebird/messagebird-api/2.0.0).

[2018-10-02 08:31] #30 closed

[2018-10-02 08:31] epels commented on #35
Resolved in [`v2.0.0`](https://mvnrepository.com/artifact/com.messagebird/messagebird-api/2.0.0).

[2018-10-02 08:31] #35 closed

[2018-10-02 08:31] epels commented on #45
Hi @klpx, [`v2.0.0`](https://mvnrepository.com/artifact/com.messagebird/messagebird-api/2.0.0) is now available on mvnrepository. Good luck!

[2018-10-02 08:31] #45 closed

[2018-12-13 15:14] saeedafshari8 opened #46 "Compatibility problem with openjdk 11"
Hello guys,

It seems that the latest version of your library is not compatible with openjdk 11.
The client construction works fine but as soon as one of the APIs like client.viewLookup, the following following exception raises:
com.messagebird.exceptions.GeneralException: javax.net.ssl.SSLHandshakeException: Invalid ECDH ServerKeyExchange signature

[2018-12-14 16:07] nperez-messagebird commented on #46
Hey there!

I'm sorry to hear there are some issues using our lib on openjdk11. I've done a little bit of research and the TL;DR seems to be there might be a bug with openjdk11 with regards to TLS.

So when I google the exception specifically, I see there are a couple of other projects that have also come across this issue. Jboss in particular seems to have [identified](https://issues.jboss.org/br

[2018-12-17 13:42] saeedafshari8 commented on #46
Hello Nick,

Thanks for the investigation. If you've already changed the config I would say it is not working yet.

[2018-12-17 13:45] saeedafshari8 commented on #46
Hello Nick,

Thanks for the investigation. It is still not working.

[2018-12-19 08:14] nperez-messagebird commented on #46
Hey Saeed,

Do you have a minimal test case for us to try? If you host a jar or a very simple project we can compile, it will help us a lot.

[2018-12-31 10:42] saeedafshari8 commented on #46
Thanks, the problem is solved. I cannot reproduce it furthermore.

[2018-12-31 10:42] #46 closed

[2019-01-22 10:27] jmadureira opened #50 "Mockito-core has compile time dependency"
Hello

You have configured `mockito-core` with compile time dependency which is causing it to be included on every package. This is probably a misconfiguration since mockito is mostly used for testing purposes like junit.

[2019-02-05 14:37] #50 closed

[2019-03-01 14:49] jmadureira opened #57 "Voice messaging does not support machineTimeout"
According to the [documentation](https://developers.messagebird.com/docs/voice-messaging#send-a-voice-message) there is an attribute ( `machineTimeout` ) that allows callers to control the time used to detect if a machine answered the call. This attribute isn't available on the `VoiceMessage` class.

[2019-07-17 14:53] martijnvanderwoud opened #61 "Value "auto" not included in DataCodingType enum"
The `com.messagebird.objects.DataCodingType` enum does not include a value for "auto", although it is mentioned in the docs here: https://developers.messagebird.com/api/sms-messaging/

[2019-08-07 07:12] dangg opened #62 "Fix unit tests when running from the command line on a fresh setup"
Situation:
According to the documentation at https://github.com/messagebird/java-rest-api/blob/master/README.md running the command

mvn test -Ptest -DmessageBirdAccessKey=[your access key] -DmessageBirdMSISDN=[your phone]

should run the tests, however the tests are skipped

The issue seems to come from the configuration under the default profile
    <profiles>
        <profile>
            <id>d

[2019-08-07 07:13] dangg opened #63 "Tests fail when running ok Java >9"
When running the tests with java >= 9 the unit tests fail. The message is

WARNING: An illegal reflective access operation has occurred

Context:

The contactUpdate API endpoint requires HTTP method "POST"

ContactUpdate API require HTTP method PATCH which in java.net.HttpURLConnection is not available by default. In order to overcome this a hack has been implemented according to https://stackover

[2019-10-10 10:12] denizkilic commented on #57
Hi @jmadureira,
Thanks for reporting this issue. machineTimeout is implemented and merged into master. This will be released in our next version.

[2019-10-22 08:25] olimpias opened #75 "Searching phone numbers available for purchase"
Add the feature that allows users to search phone numbers which are available for purchase. Use the below documentation link for API.

[Api Doc](https://developers.messagebird.com/api/numbers/)

[2019-10-22 08:38] theparselmouth commented on #75
Can I take this up

[2019-10-22 08:42] olimpias commented on #75
Sure!

[2019-10-22 08:44] theparselmouth commented on #75
Where do you want me to write this file ? Also do I need to create an account or do you have a key for testing ?

[2019-10-22 09:05] denizkilic commented on #75
@theparselmouth yes you can create an account for free. Test API key will be generated for your account automatically.  When you create an account, you should select "Rest API" and then select "Other API" for using Numbers API.

[2019-10-24 10:23] antrix190 commented on #75
@theparselmouth @denizkilic Is this already done? I would like to contribute if not done yet.

[2019-10-24 10:39] theparselmouth commented on #75
Hey @antrix190 been held up at work. Feel free to give it a shot

[2019-10-24 12:45] antrix190 commented on #75
Sure @theparselmouth

[2019-10-28 00:43] gmontalvo404 commented on #63
Can i take this problem?

[2020-01-09 10:50] thewalrusisben opened #85 "Illegal Reflective Access Warning"
When attempting to make a `PATCH` request (`sendPayload` method call), the following warning message is output:

[code]

The issue appears to originate from inside of the `allowPatchRequestsIfNeeded` method, which does the following:

[code]

This didn't cause issues for me using the SDK, but it could for future users!

[2020-01-10 19:11] katchengli opened #87 "Webhook URL is not applied when set in the VoiceCall directly"
Setting the WebhookURL in a VoiceCall through the REST API allows us to receive callbacks through that specific Webhook. Using the Java SDK, it does not seem like the WebhookURL is registered at all. Is this feature not implemented yet?

It seems like the example doesn't contain it either (ie. Java https://github.com/messagebird/java-rest-api/blob/master/examples/src/main/java/ExampleSendVoiceCall

[2020-01-10 20:04] marcelcorso commented on #87
Hey Kat!
There is a setter for the `webhookUrl` here: https://github.com/messagebird/java-rest-api/blob/b2496eb6e74c376a9858c54481bd80391137d993/api/src/main/java/com/messagebird/objects/voicecalls/VoiceCall.java#L67.
Maybe it's just not on the example. Did you try it?

[2020-01-10 20:11] katchengli commented on #87
Hi!
Thank you for verifying but we did set it. It appears on the VoiceCall object but maybe doesn't get translated properly in the request.

[2020-01-13 14:22] Xethron commented on #87
Hello @katchengli,

Just had a look, seems like there is a problem with the JSON keys being used. Will push a fix.

[2020-01-14 15:57] denizkilic commented on #87
Hi @katchengli
This issue was fixed by the latest release (Release 3.0.7). Thanks @Xethron

[2020-01-14 15:58] denizkilic commented on #75
Hi all,
This issue was implemented by @thewalrusisben & @Xethron in the latest release. (Release 3.0.7)

[2020-01-14 15:58] #75 closed

[2020-01-14 15:59] denizkilic commented on #61
Hi @martijnvanderwoud
This issue was fixed by the latest release.(Release 3.0.7)

[2020-01-14 15:59] #61 closed

[2020-01-14 16:07] #87 closed

[2020-01-14 16:20] katchengli commented on #87
Great! Thank you!

[2020-01-16 14:41] akosasante opened #91 "ErrorReport class shape does not match API response"
We are using the `MessageBirdClient.sendVoiceCall` method to initiate phone calls. We were able to catch exceptions when the voice call request fails. However, we also expected to be able to use the `MessageBirdException.getErrors` method to pull out the particular error code returned (not just the HTTP status code). Instead, the method returns `null`.

As per [the code here](https://github.com/me

[2020-01-16 15:52] denizkilic commented on #91
Hello @akosasante,
Thanks for reporting this issue. I did a quick test. The problem caused because our APIs return back an error with different fields. For example, rest API returns code, description, parameter fields in error object but voice API returns message and code parameters. That's why it cannot parse to ErrorReport object. We will fix this problem.

[2020-01-21 06:48] denizkilic commented on #91
Hi @akosasante,
Regarding this issue, we have just released version 3.0.8. We added the 'message' field which is not null in voice api results. Thank you and we are welcoming more issues.

[2020-01-21 06:48] #91 closed

[2020-02-13 22:11] katchengli opened #94 "`no_answer` status from callbacks of `call` type"
Hello,

We're receiving callbacks of type call with this format:
[code]
However, the `VoiceCallStatus` using by the `VoiceCallData` does not support the `no_answer` status. The possibility of that status also seems undocumented: https://developers.messagebird.com/api/voice-calling#calls

Relevant code:
https://github.com/messagebird/java-rest-api/blob/master/api/src/main/java/com/messagebird/objec

[2020-02-14 10:07] denizkilic commented on #94
Hi @katchengli,
Thanks for reporting this issue. We are going to update the VoiceCallStatus object. I will inform you after we released a new version.

[2020-02-14 14:02] denizkilic commented on #94
Hi @katchengli,
This issue was fixed by the latest version (Release 3.0.9) We added three more enums which are "failed", "busy" and "no_answer" on VoiceCallStatus. Thank you and we are welcoming more issues.

[2020-02-14 14:02] #94 closed

[2020-02-14 17:44] katchengli commented on #94
@denizkilic Thank you for the quick fix!

[2020-02-27 13:40] pacohernandezg commented on #63
With OpenJDK version "1.8.0_242" fails also:

gradle: compile 'com.messagebird:messagebird-api:3.0.9'

import com.messagebird.MessageBirdClient;
                      ^
  bad class file: /home/paco/.gradle/caches/modules-2/files-2.1/com.messagebird/messagebird-api/3.0.9/d4ad484def6682d47a58930a295759ba4c724f4e/messagebird-api-3.0.9.jar(com/messagebird/MessageBirdClient.class)
    class file has wr

[2020-02-27 13:45] pacohernandezg commented on #63
If I compile with mvn install......

...
[ERROR] Failed to execute goal org.apache.maven.plugins:maven-compiler-plugin:3.7.0:compile (default-compile) on project messagebird-api: Fatal error compiling: invalid target release: 11 -> [Help 1]
org.apache.maven.lifecycle.LifecycleExecutionException: Failed to execute goal org.apache.maven.plugins:maven-compiler-plugin:3.7.0:compile (default-compile) o

[2020-02-27 13:50] pacohernandezg commented on #63
Meanwhile, we will use HTTP API. Thanks. ;-)

[2020-02-27 20:49] olimpias commented on #63
Hi @pacohernandezg ,

Could you try to install with this comment `mvn install -Dgpg.skip=true` ? Look like one of the plugin is causing the problem. It requires signing. You can skip it with this comment.

[2020-02-28 07:58] pacohernandezg commented on #63
Hi @olimpias,

Thank you, but it does not work.

(base) paco@paco-thinkpad:~/projects/java-rest-api/api$ java -version
openjdk version "1.8.0_242"
OpenJDK Runtime Environment (build 1.8.0_242-8u242-b08-0ubuntu3~18.04-b08)
OpenJDK 64-Bit Server VM (build 25.242-b08, mixed mode)
(base) paco@paco-thinkpad:~/projects/java-rest-api/api$ mvn install -Dpgp.skip=true
[INFO] Scanning for projects...
[INFO]

[2020-03-02 10:40] olimpias commented on #63
Hi @pacohernandezg , I realized that we weren't supporting jdk 1.8. I added support and @denizkilic merged it. I think from now you can use it with following command `mvn install -Dgpg.skip=true` Please let me know if you have a problem.

[2020-03-03 13:28] denizkilic commented on #63
Hi @pacohernandezg ,
Regarding the issue, new version 3.0.10 was released. If you have any problem, please let us know. Thank you.

[2020-03-03 13:28] #63 closed

[2020-03-03 13:38] pacohernandezg commented on #63
Hello,

I can confirm that, for me, new version 3.0.10 is working perfectly with Java 1.8.

Thank you very much. ;-)

[2020-03-23 22:20] alexvingg opened #105 "Set caption"
Hello,

In Message Bird SDK is not possible send media with caption. I`m using for whatsapp but this SDK don`t support this feature.

Can you help me ?

[2020-03-23 23:32] olimpias commented on #105
Hi @alexvingg , I have created MR for this #106 . Hopefully when it is merged, you will able to use a caption for media files. Thanks!

[2020-03-24 13:43] alexvingg commented on #105
Thanks @olimpias
When this feature will be disponible in maven repository ?

[2020-03-24 13:50] olimpias commented on #105
We will ship it in the evenings.

[2020-03-24 14:02] alexvingg commented on #105
Thanks @olimpias !

[2020-03-24 14:02] #105 closed

[2020-03-24 17:24] denizkilic commented on #105
Hi @alexvingg,
The latest version (Release 3.0.12) is ready now. Thank you and we are welcoming more issues.

[2020-04-08 19:46] ImCowboySibs opened #108 "[Support Request] Utilizing "Fetch Variables" Flow Builder Function"
Hi,

I am attempting to add the “Fetch Variables” Flow Builder Function to my Flow Labeled:
Job App Bot Omnichannel

Objective:
Create Short Links Dynamically with short.cm service & Messagebird Flow Builder.
How I want plan to achieve this objective:

1.  Utilize “Fetch Variables” Messagebird Flow Builder Function

2.  Fill in Messagebird “Fetch Variables” function with the following Details:

UR

[2020-04-10 20:45] #108 closed

[2020-04-10 20:45] ImCowboySibs commented on #108
I was able to implement after some Trial and error, thanks

[2020-05-08 21:37] rvt commented on #62
Perhaps it makes sense to split the tests that require DmessageBirdAccessKey and DmessageBirdMSISDN and move these to integration tests. While leaving the pure unit tests in place.

[2020-05-19 17:34] bspammer opened #109 "Exception when using jackson-databind 2.11.0"
Steps to reproduce:

1. Change the version of `jackson-databind` to `2.11.0` in `pom.xml`
2. Run tests

[code]

[2020-05-22 15:34] denizkilic commented on #109
Hi @bspammer,
We will consider updating lib versions that you want and investigate the bug. For a quick solution, if you delete ` @JsonCreator` on MClassType.java tests will be passed successfully.

[2020-06-02 15:03] samdohrey commented on #109
Sadly the same error occurs running the latest Spring Boot libraries e.g. 2.3.0.RELEASE

Will 100% need fixing as Spring is an extremely popular framework with Enterprise

We are trying to update our servers to the latest versions, sadly the error showed when sending using:

Class: MessageBirdClient
Method:
_public MessageResponse sendMessage(final String originator, final String body, final List<

[2020-06-02 15:04] samdohrey commented on #109
Sorry I should have said. The later Spring libraries use: jackson-databind 2.11.0

[2020-06-02 21:32] olimpias commented on #109
Hi @samdohrey, thank you for reaching us. We will investigate the problem with @denizkilic  and come with a solution on the following days.

[2020-06-09 19:37] denizkilic commented on #109
Hi @samdohrey, @bspammer
Jackson library version was updated to 2.11.0 in the latest release (Release 3.0.13). We will be glad to encounter any issue if you have.

[2020-06-10 08:22] #109 closed

[2020-06-11 12:17] davidb-e4s opened #112 "`com.messagebird.objects.MClassType`, problem: argument type mismatch"
Using Kotlin 1.3.72
Spring boot 2.3.0.RELEASE
Jackson 2.11.0 (Being pulled in by SB)

Get the following when sending a message to message bird on the latest released version

`com.messagebird.exceptions.GeneralException: com.fasterxml.jackson.databind.exc.ValueInstantiationException: Cannot construct instance of `com.messagebird.objects.MClassType`, problem: argument type mismatch
 at [Source: (St

[2020-06-11 12:24] olimpias commented on #112
I will take a look at this problem in the evening. Thank you for reporting!

[2020-06-11 19:19] olimpias commented on #112
Hi @davidb-e4s , I think you are using `v3.0.10` or lower version because the error logs that you shared, show that the exception happened at line 220. In new versions, in that line, we are creating the object mapper.(I don't expect to see any exception there) That is why I suspect that you are using the old version. Could you update to version `3.0.13`  ?

[2020-06-14 12:04] bspammer commented on #109
Hi, thanks for this!

[2020-06-19 15:02] #112 closed

[2020-08-07 19:30] rmacqueen opened #114 "NullPointerException in MessageBirdServiceImpl"
I am encountering a null pointer exception when calling `startConversation` on the MessageBirdClient

[code]

It looks like the null pointer is being referenced at this line https://github.com/messagebird/java-rest-api/blob/master/api/src/main/java/com/messagebird/MessageBirdServiceImpl.java#L545

[2020-08-08 00:29] robotarmy opened #115 "VoiceStep action 'sendKeys' missing 'keys' option"
Hi
I've noticed that sendKeys action's 'keys' option is missing from the java rest api.

I'm curious if this is as simple as adding
[code]

Or is there some other way to send keys ? (payload?)

[2020-08-10 12:06] denizkilic commented on #115
Hi @robotarmy,
Thanks for the issue. I am working on it.

[2020-08-10 13:58] denizkilic commented on #114
Hi @rmacqueen,
Thanks for reporting this issue. @olimpias solved it. A new version will be released soon.

[2020-08-10 16:51] robotarmy commented on #115
@denizkilic <3 <3 Thank you!!!!

[2020-08-10 16:52] #115 closed

[2020-08-10 17:06] rmacqueen commented on #114
Great, thanks

[2020-08-10 19:19] denizkilic commented on #114
Hi @rmacqueen,
The issue was fixed in Release 3.0.14. We are ready to welcoming more issues if you have.

[2020-08-10 19:19] #114 closed

[2020-08-12 15:18] rmacqueen opened #119 "InvalidFormatException on date string in response from API"
I'm seeing the following error when calling `startConversation` on the message bird client. The whatsapp message does go through but it looks like the JSON response from message bird API might have changed and is now not getting parsed correctly by this Java library.

[code]

[2020-08-13 19:09] denizkilic commented on #119
Hi @rmacqueen,
Thanks for reporting this issue. The problem is fixed in Release 3.0.15. We are ready to welcoming more issues if you have.

[2020-08-13 19:09] #119 closed

[2020-09-02 16:53] rmacqueen opened #122 "Feature request: support fallback messages"
The messagebird API supports fallback messages:

As far as I can see there isn't a way to specify the fallback configuration in this Java api. Can that be added?

[2020-09-02 19:08] olimpias commented on #122
Hi @rmacqueen , absolutely it can. I will work on it. 👍

[2020-09-03 16:58] olimpias commented on #122
Hi @rmacqueen ,  I created MR here: #123 . After its review, we will try to release a new version as soon as possible. It is gonna be probably tomorrow or on Monday.

[2020-09-04 17:28] denizkilic commented on #122
Hi @rmacqueen,
Support fallback messages for conversation was implemented in the latest release ([Release 3.0.16](https://github.com/messagebird/java-rest-api/releases/tag/v3.0.16)) (Special thanks to @olimpias) We are welcoming more issues if you have.

[2020-09-04 17:28] #122 closed

[2020-09-23 12:47] mehmetminanc opened #126 "Avoid Java boilerplate with Lombok"
Many model/POJO classes here can be easily generated with [Lombok](https://projectlombok.org), which is a very widely used lib.

The benefits are
* Get rid of no-brainer getter and setters.
* Get rid of no-brainer but exhaustive constructor. Possibly using `@Builder`
* Get rid of no-brainer `toString()`.
* Avoid water-is-wet tests.
* Possibly Immutable classes with `@Value`

[2020-09-24 08:06] mehmetminanc opened #127 "Package name should be renamed"
Hi all,

Java Rest API implies that this package is containing web service code. While in fact it's just the client to the MB service.

Possible options are:
* java-client
* java-sdk
* java-toolkit

The value would be:
* Discoverability.

I can see that the clients for other clients are named consistently, so this could be the master ticket.

This could also be reflected in the artifact name.

[2020-10-18 18:51] thaopham1816 commented on #126
Hi. I would like to contribute if no one has worked on this issue yet!

[2020-10-18 19:09] rvt commented on #126
One downside, I have seen a lombok generated project fail when lombok was used, and it can be more tricky with jackson. But all solvable..

[2021-01-03 21:18] rc-ctream opened #138 "Error: Could not build package"
Hi guys,
by following the sms api guide for java [Guide for Get started with SMS](https://dashboard.messagebird.com/de-de/getting-started/sms) I get a trouble. The maven command **mvn clean install** results in my case with following error:

Can you give me an advice how to solve this?

Some information about my env:

OS: macOs - Catalina 10.15.7
Java: 11.0.9

[2021-01-03 22:06] rc-ctream commented on #138
For me the following property `mvn clean install -Dgpg.skip` helps for building it without error. But it would be very helpful if this problem could be handle

[2021-01-04 16:35] denizkilic commented on #138
Hi @rc-ctream,
Thanks for reporting the issue. You can use` mvn clean install -Dgpg.skip` for now. We will consider to fix it in the future.
Let us know if you have more questions.

[2021-01-04 17:43] rc-ctream commented on #138
Hi @denizkilic ,
thank you for your feedback. As mentioned above, I built it that way.
Then I'll let the ticket wait until you get the fix it.

Thanks in advance!

[2021-01-06 08:21] SelvesNanNi opened #141 "Error: wrong args about from and to recipient"
Hi,i found there is a problem about the demo which from https://github.com/messagebird/java-rest-api/blob/master/examples/src/main/java/ExampleConversationSendEmailMessage.java

According to the line 24,in the line 34 and line 36,the index of the args array should be reversed.

[2021-01-06 08:45] denizkilic commented on #141
Hi @SelvesNanNi,
Thanks for letting us know. We will test and update the example.

[2021-01-06 12:38] #141 closed

[2021-04-07 19:33] katchengli opened #143 "Feature Request: Adding Price For the Message object Items"
Hello,

We would like to leverage the price field from the message objects that is now available in the [message object items](https://developers.messagebird.com/api/sms-messaging/#the-message-object)

I think it should be added here:
https://github.com/messagebird/java-rest-api/blob/master/api/src/main/java/com/messagebird/objects/MessageResponse.java#L256

Would it be possible to add it?

Thank

[2021-04-08 08:21] denizkilic commented on #143
Hi @katchengli,

Of course, we will add a price field as soon as possible.

[2021-04-08 15:03] denizkilic commented on #143
Hi @katchengli,

A new release [v3.0.21](https://github.com/messagebird/java-rest-api/releases/tag/v3.0.21) is ready to use. We are always welcoming more issues if you have.

[2021-04-08 15:03] #143 closed

[2021-05-25 09:41] Jasun0925 opened #149 "com.messagebird.objects.ErrorReport not implement java.io.Serializable"
send bad_response info instead, cause: Serialized class com.messagebird.objects.ErrorReport must implement java.io.Serializable
 Java field: private java.util.List com.messagebird.exceptions.MessageBirdException.errors
 Java field: private java.lang.Throwable java.lang.Throwable.cause, dubbo version: 2.7.3, current host: 10.10.0.87"}
java.lang.RuntimeException: Serialized class com.messagebird.obj

[2021-05-27 07:53] denizkilic commented on #149
Hi @Jasun0925 ,
The issue is solved in the latest release (v3.1.0). Please let us know if you have more issues.

[2021-05-27 07:53] #149 closed

[2021-06-15 07:40] Jasun0925 commented on #149
@denizkilic thank you

[2021-09-13 06:50] ssk910 opened #156 "Media Template supported?"
Hello. I'm trying to send a message with [Media Template](https://developers.facebook.com/docs/whatsapp/api/messages/message-templates/media-message-templates).

After I skimmed through your example classes and Java API,
I concluded that media template is not supported in your API.

Did I miss something with your API? or Should I implement my self to use media template?
Thank you. Have a nice day.

[2021-09-13 07:22] denizkilic commented on #156
Hi @ssk910 ,

Thank you for creating this issue with the media template. Here is the [endpoint](https://github.com/messagebird/java-rest-api/blob/master/api/src/main/java/com/messagebird/MessageBirdClient.java#L974) you will use but a "component" field is missing according to the developer [doc](https://developers.messagebird.com/quickstarts/whatsapp/send-media-template-message/#how-to-send-a-medi

[2021-09-13 07:33] ssk910 commented on #156
@denizkilic  Thanks for your reply.
Could you please let me know when your API released?

[2021-09-13 07:35] denizkilic commented on #156
Of course, I will let you know when the new release is ready.

[2021-09-15 06:34] denizkilic commented on #156
Hi @ssk910,

The new release is ready with media template support. [v.3.0.2](https://github.com/messagebird/java-rest-api/releases/tag/v3.1.2) Please let us know if you have more issues.

[2021-09-15 06:34] #156 closed

[2021-09-16 02:14] ssk910 commented on #156
Hello @denizkilic
Thank you so much. It will be more easier to use API.
I'll open new issue if I find something wrong.
Have a nice day.

[2021-10-01 07:46] ssk910 opened #162 "Can you please add Partner Accounts API?"
Hello.

I need to integrate with [Partner Accounts API](https://developers.messagebird.com/api/partner/#api-endpoint).
But, this API above is missing from your SDK.
Can you please add it to your SDK?
I'm feeling sorry a little for this because it seems like I am keep giving you a task again.

I can add this API in my own project later.
But, if I do this, my project structure will be weird a little

[2021-10-04 07:41] denizkilic commented on #162
Hi @ssk910,

Thank you for reporting this issue. API can be implemented on SDK. I will inform you about it.

[2021-10-05 11:26] ssk910 opened #163 "JUnit test for sending media template message with Test AccessKey always failed"
Hello. It's me again. :)

I ran a unit test for `sending media template message` with your SDK in my Java project.
My service code is fine, because I succeed to send a message with a `LIVE AccessKey`.

But, if I set as a `TEST AccessKey` and run a test, then I got an `Unauthorized` error with `401` status.
An interesting thing is if I set as a `LIVE AccessKey` and run a test, then I got a `202` st

[2021-10-06 00:58] ssk910 commented on #162
Thank you for your supports, @denizkilic.

[2021-10-19 03:57] ssk910 commented on #163
Hi @denizkilic,
Sorry I'm too late to reply. I was busy for a week.

I had test with `public ConversationSendResponse sendMessage(ConversationSendRequest request)  UnauthorizedException, GeneralException`.

And also I had test in `REST API`(https://conversations.messagebird.com/v1/send) which is documented at [here](https://developers.messagebird.com/api/conversations/#send-message).
It responds w

[2021-10-20 07:22] mingi-dev opened #167 "Couldn’t find conversation message list api"
Dear, Message Brid.

I'm found [List Message](https://developers.messagebird.com/api/conversations/#list-messages) API  in the api Reference.
It says, when try to retrieve the message list, can filter this list by ids and datetime.
But I couldn’t find any method which represents the feature I mentioned above in your Java SDK.
Does your SDK support this feature?
If it does not, could you please imp

[2021-10-20 09:40] denizkilic commented on #167
Hi @mingi-dev,

Thank you for reporting the issue. I will inform you when this is implemented.

[2021-10-22 02:56] ssk910 opened #168 "There is under JDK 12 code in allowPatchRequestsIfNeeded() method"
Hello.

First of all, I'm so appreciated for implement Partner Account API quickly.
But unfortunately, I have an issue with it.

A [`allowPatchRequestsIfNeeded()`](https://github.com/messagebird/java-rest-api/blob/220785e586eef63ac909c8e68bd50f8ec9099689/api/src/main/java/com/messagebird/MessageBirdServiceImpl.java#L464) method uses under `JDK 12` code.
It means your Java SDK supports for only und

[2021-10-29 06:14] ssk910 opened #169 "There are wrong members in AccessKey for ChildAccountCreateResponse because of wrong documentation"
Hello MessageBird team.

I have an issue with Partner Accounts API.
First of all, the Rest API documentation is wrong for [Partner Accounts - Create a Child Account](https://developers.messagebird.com/api/partner/#create-a-child-account).

According to document above, `accessKeys` object from response has  only `id`, `key`, `mode` fields.
But, when I actually send a request to `https://partner-acc

[2021-11-06 22:38] denizkilic commented on #168
Hello @ssk910,
This issue will be solved in the next version which will be released in a couple of days.

[2021-11-06 22:59] denizkilic commented on #169
Hi @ssk910,
Thanks for creating the issue. A PR is created, this issue will be solved in the next release. I will inform you when the new release is ready.

[2021-11-09 08:45] #167 closed

[2021-11-09 08:49] denizkilic commented on #169
Hi @ssk910,

This issue is fixed by [the new release.](https://github.com/messagebird/java-rest-api/releases/tag/v3.1.5) Please let us know if you have more issues.

[2021-11-09 08:49] #169 closed

[2021-11-09 08:50] denizkilic commented on #167
Hi @mingi-dev

This issue is fixed by [the new release](https://github.com/messagebird/java-rest-api/releases/tag/v3.1.5). Please let us know if you have more issues.

[2021-11-09 09:02] denizkilic commented on #168
Hi @ssk910,
This issue is ongoing in release 3.1.5, working on it. I will inform you when this is ready. Thank you.

[2021-11-09 09:03] ssk910 commented on #169
I'll check later. Thank you!

[2021-11-09 09:10] ssk910 opened #174 "There is a typo for an `AccessKey` class member"
Hello!
I have checked your new release.
And then, I found an issue with an `AccessKey` member.
It is a [`mod`](https://github.com/messagebird/java-rest-api/blob/c1135a278a5b7f108072f9689567262723246369/api/src/main/java/com/messagebird/objects/AccessKey.java#L11) which is need to be replaced by a `mode`.

Thank you again for your new release.
I'll create a new issue when I find more.

[2021-11-09 09:54] denizkilic commented on #174
Hi @ssk910 ,
A fix is merged, I will create a new release.

[2021-11-09 15:59] denizkilic commented on #174
Hi @ssk910,
This issue is resolved in the new release. [v3.1.6](https://github.com/messagebird/java-rest-api/releases/tag/v3.1.6) Thank you. Please create more issues if you have any.

[2021-11-09 15:59] #174 closed

[2021-11-10 01:07] ssk910 commented on #168
Hello @denizkilic,
Thank you for letting me know.

[2021-11-10 01:10] ssk910 commented on #174
Hi @denizkilic,
I checked that the issue has resolved by your new release.
Thank you.

[2021-12-15 18:47] npenate opened #179 "MessageComponentType enum is wrong"
The current possible values of `MessageComponentType` enum are:
[code]
The `BUTTONS` value is not a valid value since the API is expecting `BUTTON("button")`. You can see [this](https://developers.messagebird.com/quickstarts/whatsapp/send-message-with-buttons/#send-a-message-with-a-variable-url-button) example in documentation.
I have tried to make a call using `BUTTONS` but received the following

[2021-12-16 12:14] denizkilic commented on #179
Hi @npenate ,
Thank you for creating the issue. This issue will be fixed as soon as possible and I will let you know when the new release is ready.

[2022-01-03 05:46] EXORCIST94 opened #183 "No Support for sending message to groups"
Hi,

The current SDK does not support sending message to Groups (using groupIds).

Will there be any provision for that in the upcoming releases?

[2022-01-03 16:44] denizkilic commented on #179
Hi @npenate,
Enum is updated in the new release, https://github.com/messagebird/java-rest-api/releases/tag/v3.2.0  Please let us know if you have more issues.

[2022-01-03 16:44] #179 closed

[2022-04-05 08:17] denizkilic commented on #183
Hi,
Thanks for creating the issue. We will work on it as soon as possible, and let you know.

[2022-05-03 09:31] ssk910 opened #198 "There is missing status in ConversationMessageStatus enum class"
Hello!

There is a missing status in `ConversationMessageStatus` enum class unlike your REST API.

When I call your API as `https://conversations.messagebird.com/v1/messages/dc841a129e4144a68809a4300342dd13`.
It gives me a response as below:

[code]

But, unlike your API, when I call `viewConversationMessage()` method in `MessageBirdClient` class, it gives me as below:

[code]

As you can see abov

[2022-05-03 10:03] olimpias commented on #198
Hi @ssk910, thanks for reporting it. I will take a look and fix the issue. Also gonna check, if we are missing other statuses

[2022-05-13 07:48] denizkilic commented on #198
Hi @ssk910,
The new release is ready https://github.com/messagebird/java-rest-api/releases/tag/v3.2.5

[2022-05-19 15:58] davemaul opened #201 "totalDeliveryFailedCount wrong"
Hi! I'm using the MessageBird java api for sending sms to our clients. I was just messing with intentionally wrong phone numbers and wondered why all the messages are marked as sent instead of failure while the dashboard prooves otherwise.

![Screenshot 2022-05-19 at 17 58 17](https://user-images.githubusercontent.com/3143217/169344953-79385a13-bf13-47ec-9a56-d2678a5ddad9.png)

![Screenshot 2022-0

[2022-05-27 08:08] denizkilic commented on #201
Hi @davemaul,

`[sendMessage](https://github.com/messagebird/java-rest-api/blob/master/api/src/main/java/com/messagebird/MessageBirdClient.java#L210)` endpoint doesn't return the information about if the SMS is actually delivered to the handset successfully or not. If you need to know this information which is called the delivery report, you should call `[viewMessage](https://github.com/messagebir

[2022-05-30 14:33] davemaul commented on #201
Hi @denizkilic!

Thanks for your elaboration, I'll try your solution when I have time. However, I'm curious why the fields for delivery and sent count etc. are included when they have no meaning. Could you tell me their purpose?

Greetings

[2022-05-31 15:09] #201 closed

[2022-08-03 07:08] JloongChan opened #205 "Connection timed out (Read failed)"
do send a ConversationSendRequest but cacth a Connection timed out exception after 10+ minutes,  if possible in 「getConnection(url, payload, method, headers) 」 add default connect timeout and read timeout, and then we will retry the request.

case:
2022-08-03 10:13:31.328  do send a request （MessageBirdClient#sensendMessage）
2022-08-03 10:30:00.990  catch  an exception, message is  "com.messagebir

[2022-08-05 11:37] schampilomatis commented on #205
Hello, you can extend the class adding the connection configuration that you want. Example:

[code]

[2022-08-08 03:52] JloongChan commented on #205
thanks.

[2022-09-19 11:51] #205 closed

[2022-10-27 03:49] clerecudzio opened #212 "Example for sending whatsapp template message with button ?"
I have scrolled through the example but i cannot find any example that includes message with buttons
Can i get any help on this ?

[2022-11-02 17:56] ravi-signal opened #213 "Language field in Verify API requests serialized incorrectly"
When I attempt to make a `verify` request like so:
[code]
I get back a `422` with

The serialized json request that ends up getting sent to the server is:
[code]
It looks like [the `ObjectMapper` being used](https://github.com/messagebird/java-rest-api/blob/1581abfc664988b3e0ec1f75afdc6bb8fb09da01/api/src/main/java/com/messagebird/MessageBirdServiceImpl.java#L594) is using default enum serializati

[2022-11-04 15:14] denizkilic commented on #212
Hi @clerecudzio,

Here is an [example](https://github.com/messagebird/java-rest-api/blob/master/examples/src/main/java/ExampleConversationSendHSMTemplateWithButtons.java) of a WhatsApp template message with a button. If you need more help, we are ready to welcome your questions.

[2022-11-04 15:18] #168 closed

[2022-11-04 16:46] denizkilic commented on #213
Hi @ravi-signal,

Thanks for letting us know about these issues. First, two points are resolved, we will check the third issue as soon as possible and I will let you know.

[2022-11-16 09:30] denizkilic commented on #213
Hi @ravi-signal,
The first two issues that you stated are resolved in the [latest release.](https://github.com/messagebird/java-rest-api/releases/tag/v5.1.1)
About the last issue, what you said about the language tag is valid about verify type TTS and verify type SMS. We only have an English template for the SMS verify type and it ignores the language tag. On the other hand, TTS doesn't ignore lan

[2022-11-16 09:30] #212 closed

[2022-11-16 19:46] ravi-signal commented on #213
Thanks for your help! My issue is fully resolved, feel free to close.

[2022-11-18 08:37] #213 closed

[2022-11-24 03:15] soda-universe opened #218 "HSM status is missing "DISABLED""
When the template is disabled due to continuous low score, the template status is "DISABLED", but it is not in the developer document and the latest release 5.1.1.
I hope that all the template statuses can be completed, and not only "DISABLED" may be omitted.
Thanks.

https://developers.messagebird.com/api/integrations/#templatestatus-object
https://github.com/messagebird/java-rest-api/blob/master

[2022-11-28 23:34] ravi-signal opened #220 "Bad serialization of VerifyRequest.DataCodingType"
It looks like after the fix for #213, the serialization (including the default serialization when the field is unset) for `DataCodingType` is using `toString` which produces:

[code]

The server returns a 422 in response.

Rather than fix the `Language` serialization via `WRITE_ENUMS_USING_TO_STRING`, it might make sense to add an explicit `@JsonValue` to `Language`

Thanks!

[2022-11-30 01:02] fejanto opened #221 "SMS messages not working: "datacoding must be plain, unicode or auto","parameter":"datacoding""
Hi everybody.

I'm trying to send a simple SMS using

`messageBirdClient.sendMessage("Sender", "Test Body", phones).getId();`

but i'm getting  "datacoding must be plain, unicode or auto","parameter":"datacoding", so I can't get it working since datacoding is set internally.

It míght be a problem on MessageBirdServiceImpl line 606, the body gets serialized like this:

`{"originator":"Sender","bod